.green-field {
	background-color: #00b377;
	width: 60%;
	height: 600px;
	display: inline-block;
}

.outer-line {
	background-color: inherit;
	border: 5px solid #ffffff;
	margin: 40px;
	width: 92%;
	height: 520px;
	position: relative;
}

.inner-line-left {
	background-color: inherit;
	border: inherit;
	border-left: 0px;
	width: 15%;
	height: 50%;
	position: relative;
	top: 100px;
	right: 0px;
	/*left: 0px;*/
}

.inner-line-right {
	background-color: inherit;
	border: inherit;
	border-right: 0px;
	width: 15%;
	height: 50%;
	position: relative;
	top: -170px;
	left: 622px;

}

.center {
	background-color: inherit;
	border: inherit;
	border-radius: 100px; 
	width: 180px;
	height: 180px;
	display: inline-block;
	position: relative;
	left: 270px;
	top: -400px;
}
