.green-field {
	background-color: #97BB87;
	width: 60%;
	height: 600px;
	display: flex;
	justify-content: space-between;
}

div.line {
	border: 5px solid #ffffff;
}

.outer {
	margin: 40px;
	width: 92%;
	height: 520px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inner {
	width: 15%;
	height: 50%;
}

.left {
	border-left: 0px !important;
}

.right {
	border-right: 0px !important;
}

.center {
	border-radius: 100px; 
	width: 180px;
	height: 180px;
}

.player {
	background-color: #ffffff;
	border: 1px solid #cfcfcf;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	position: absolute;
}

.one {
	left: 90px;
	top: 105px;
}

.two {
	left: 170px;
	top: 300px;
}

.three {
	left: 400px;
	top: 200px;
}